@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: hsl(0, 0%, 8%);
   display: flex;
   flex-direction: column;
   align-items: center ;
   min-height: 100vh;
   justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 440px;
    height: 700px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

img{
    width: 220px;
    height: 220px;

    border-radius: 50%;
    margin-top: 30px;
}

.desc{
    text-align: center;
}

.desc>h1{
    color: white;
    margin-top: 15px;
}

.desc>p{
    color: hsl(75, 94%, 57%);
    margin-top: 10px;
}

.coment{
    color: hsla(0, 0%, 100%, 0.459);
    margin-top: 35px;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 30px;
    width: 90%;
    margin-top: 20px;
}

a{  
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 40px;

    border-radius: 10px;
    color: white;
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
}

a:hover{
    background-color: white;
    color: hsl(0, 0%, 20%);
}
